body {
    overflow-x: hidden;
}


header ul li a.nav-link {
    color: black;
}

header .navbar-brand img {
    width: 25%;
}

.navbar-toggler {
    background: green !important;
}


header {
    background-color: #0000000f;
    padding-top: 1rem;
}

.container.mx_widt {
    max-width: 1440px;
}

/* header .navbar-brand img {
    max-width: 145px;
} */

header .navbar-nav .nav-item .nav-link {
    font-family: "Biotif";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    text-transform: capitalize;
    padding: 6px 18px;
}

header .navbar-nav .nav-item:last-child {
    margin-left: auto;
}


header div#navbarSupportedContent {
    justify-content: flex-end;
}




.col_in_centre {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.col_in_centre.first_page_contnt{
    margin-bottom: 50px;
    background: linear-gradient(90deg, rgba(0,230,195,1) 0%, rgba(223,223,223,1) 100%, rgba(0,0,0,1) 100%);

}

.paragraph_hdng h3 {
    text-align: center;
    font-size: 2rem;

}

.paragraph_hdng p {
    font-size: 1rem;
    text-align: justify;
    font-size: 26px;
    line-height: 50px;
}




.paragraph_hdng {
    max-width: 50%;
}


.partition_line {

    min-height: 114px;
    margin: 0;
}

.partition_line .color_bg {

    background-color: #079fff;
    min-height: 114px;
}



.img_section {
    background-image: url(../../assets/images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.img_section img {
    width: 100%;
}

.promotion_section .row div {
    margin: 0;
    padding: 0;
}

.promotion_section .row_two {

    flex-direction: row-reverse;
}

.promotion_section .content_section {
    padding: 80px !important;
    text-align: center;

}

.promotion_section .content_section h3 {
    font-size: 1.125rem;
    color: #fe414d;
    margin-bottom: 1rem;
}

.promotion_section .content_section a, .next_start_now .contact_section a {
    display: inline-block;
    position: relative;
    color:#fe414d !important;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
}
.promotion_section .content_section a::after, .next_start_now .contact_section a::after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fe414d;
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}

.promotion_section .content_section a:hover:after, .next_start_now .contact_section a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


photo_in_right {
    min-height: 114px;
}


.photo_in_right .grey_bg {
    background-color: #eee;
}

.photo_in_right .img_col img {
    width: 100%;
}

.photo_in_right div {
    padding: 0;
    margin: 0;
}

.col_in_centre.our_works h3 {
    color: #fe414d;
}
.col_in_centre.industry_specialization h3 {
    color: #fe414d;
}


.industry_specialization_section ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    overflow: hidden;
    transition: height .5s 0s cubic-bezier(0.32, 0.01, 0, 1);
}
.industry_specialization_section ul li{
    background: #eee;
    margin: 0.25em 0.25em;
    padding: 0;
    flex: none;
    width: 25%;
    display: block;
    text-align: center;
    transition: transform 0.5s ease-out;
}
.industry_specialization_section ul li:hover{
    background: url(../../assets/images/bg1.jpg);
    /* background-color: #2213138e; */
    background-color: rgba(0,0,0,.65);
}
.industry_specialization_section ul li a{
    padding: 60px 0.75rem;
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}


.next_start_now {
    padding: 50px 0 0 0;
}
.next_start_now .side_img{
    background-image: url(../../assets/images/bg2.jpg);
}


.contact_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}
   .next_start_now .contact_section a{
        font-weight: 700;
    }

    footer ul{
        list-style: none;
    }



    footer .all_links {
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -moz-column-gap: 25px;
        column-gap: 0;
        row-gap: 16px;
        text-align: center;
    }


    ul.social-links{
        display: flex;
    }
    ul.social-links li{
        padding: 10px;
    }


    .signup_form{
        background: url(../../assets/images/sub-top-right.png) right top no-repeat;
        background-size: 100px;
        padding: 80px 50px 50px;
        background-color: #00e6c3;
    }


    footer .signup_form a  {
        font-size: 1rem;
        margin-top: 25px;
        padding-left: 42px;
    padding-right: 42px;
    height: auto;
    line-height: 32px;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    color: #000 !important;
    text-decoration: none;
    background-color: #eee !important;
    }
    footer .signup_form a:hover{
        background-color: #fff !important;
        border-color: #fff !important;
        color: #000 !important;
    
    }


   footer .bottom_line {
        min-height: 100px;
    background-color: red;
    }

    footer ul li a {
        color: black;
        text-decoration: none;
    }